<h2>Sign in</h2>

<% form_for @user_session do |form| %>
	<ul>
	  <li>
	    <%= form.label :email %>
	    <%= form.text_field :email, :class => 'text-field' %>  
	  </li>
	  <li>
	    <%= form.label :password %>
	    <%= form.password_field :password, :class => 'text-field' %>
	  </li>
	  <li>
	    <%= form.check_box(:remember_me) %>
		<%= form.label :remember_me, 'Remember me', :class => 'inline' %>
	  </li>
	  <li>
	    <%= form.submit "Sign in" %>
	  </li>
	</ul>
<% end %>

<ul>
  <% if not NineAuthEngine.configuration.disable_signup %>
    <li>
	  <%= link_to "Sign up", new_user_path %>
    </li>
  <% end %>
  <li>
    <%= link_to "Forgot password?", new_password_path %>
  </li>
</ul>