<h2>Edit your profile</h2>

<% form_for @user do |form| %>
	<div class="errors">
		<%= form.error_messages(:header_message => nil, :message => 'Please correct the following errors and try again:') %>
	</div>
	<ul>
	  <% if not User.login_field.nil? %>
	    <li>
	      <%= form.label User.login_field %>
	      <%= form.text_field User.login_field, :class => 'text-field' %>  
	    </li>
	  <% end %>
	  <li>
	    <%= form.label :email %>
	    <%= form.text_field :email, :class => 'text-field' %>  
	  </li>
	  <li>
	    <%= form.label :password %>
	    <%= form.password_field :password, :class => 'text-field' %>
	  </li>
	  <li>
	    <%= form.label :password_confirmation %>
	    <%= form.password_field :password_confirmation, :class => 'text-field' %>
	  </li>
	  <li>
	    <%= form.submit "Update", :disable_with => "Please wait..." %>
	  </li>
	</ul>
<% end %>
