<h2>Change My Password</h2>
 
<% form_for @user, :url => password_path, :method => :put do |f| %>
  <p><%= f.error_messages %></p>
	<ul>
		<li>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</li>
		<li>
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %><br />
		</li>
		<li>
			<%= f.submit "Update my password", :disable_with => "Please wait..."  %>
		</li>
	</ul>
<% end %>